<a href="https://colab.research.google.com/github/AbelKristanto/machine-learning/blob/main/play_with_openpyxl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
In this part, we will learn to use library openpyxl that can useful for our routine work.

In [7]:
import os 
import warnings
warnings.filterwarnings("ignore")
from openpyxl import *
import pandas as pd

We will used exampledataset.xlsx, if do you want this dataset, please direct message me [here](https://www.linkedin.com/in/abelkristanto/)

In [9]:
# Check contain of dataset
check = pd.read_excel("exampledataset.xlsx")
check.head()

            Unnamed: 0  ... Unnamed: 8
0                 Date  ...      Total
1  2021-01-10 00:00:00  ...     125000
2  2021-01-13 00:00:00  ...     150000
3  2021-01-17 00:00:00  ...     237000
4  2021-01-17 00:00:00  ...     179000

[5 rows x 9 columns]

In [35]:
# Open workbook
wb = load_workbook("exampledataset.xlsx")

# Check sheet names
print(wb.sheetnames)

# Select active sheet
ws = wb.active

['Sheet1']

In [36]:
# Change the name of sheet
ws.title = "transaction"

# Show the dataset sheet names
print(wb.sheetnames)

['transaction']

In [37]:
# Play with the data
import datetime
from openpyxl.utils import FORMULAE

# 1. Accessing dataset
print(ws["E3"].value)
print(ws["E3"].number_format)

# 2. Set date using a Python datetime and add new value
ws['A13'] = datetime.datetime(2010, 7, 21) # ADD data
print(ws['A13'].number_format)

# 3. Add a formula
ws["E13"] = "=SUM(E3:E12)"
print(ws["E13"].value)
# If we want the excel describe the data, use this:
# wb.save("update.xlsx")
# wb = load_workbook("update.xlsx", data_only=True)

# Check formula 
"SUM" in FORMULAE

# 4. Merge and unmerge
ws.merge_cells('A14:D14')
ws.unmerge_cells('A14:D14')

# 5. Insert Image
from openpyxl.drawing.image import Image
ws['A15'] = 'You should see logos below'
img = Image('logo.jpg')
ws.add_image(img, 'A16')

150000
_([$$-409]* #,##0.00_);_([$$-409]* \(#,##0.00\);_([$$-409]* "-"??_);_(@_)
yyyy-mm-dd h:mm:ss
=SUM(E3:E12)

In [ ]:
# How to increase performance of machine
# Read-only
wb = load_workbook(filename='exampledataset.xlsx', read_only=True)
ws = wb.active

for row in ws.rows:
    for cell in row:
        print(cell.value)

In [38]:
# Inserting new row (ONE ROW)
ws.insert_rows(5) # ADD new row in row 5
ws.delete_cols(6, 3) # 6 rows, 3 column
ws.move_range("D4:F10", rows=-1, cols=2) # MOVE Range in before rows-1, cols+2

In [41]:
# Change into pandas
df = pd.DataFrame(ws.values)
df.head()

                     0                                   1  ...       8     9
0                 None  TRANSACTION INFORMATION OF ABC LTD  ...    None  None
1                 Date                                Type  ...   Total  None
2  2021-01-10 00:00:00                            Incoming  ...  =E3-G3  None
3  2021-01-13 00:00:00                            Incoming  ...  =E4-G4  None
4                 None                                None  ...    None  None

[5 rows x 10 columns]

In [42]:
# add protection sheet
ws.protection.sheet = True

# Without knowing dataset password
ws.protection.enable() # unspesific, other can open it
ws.protection.password = 'YesYouKnow' #Specific password
# ws.protection.disable()

In [43]:
wb.save("update.xlsx")